/* imports and variables */
@font-face {
  src: url("./assets/VCR_OSD_MONO_1.001.ttf");
  font-family: VCR;
}
/* * {
  background-color: transparent;
} */
/* main body styling */
body {
  text-align: center;
  color: lightgray;
  font-family: VCR;
}
a {
  text-decoration: none;
  color: lightgray;
}
/* individual page styling */

/* individual component styling */
/* FOOTER */
#navfooter {
  justify-content: space-between;
  padding-bottom: 5px;
  position: absolute;
  display: flex;
  margin: auto;
  width: 50vw;
  bottom: 0;
  right: 0;
  left: 0;
}
.footerlink {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: auto;
  padding: 2px;
}

/* space background filter */
#backer {
  background-image: url("./assets/space.gif");
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -100;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#backer::before {
  background-image: url("./assets/static.gif");
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  position: absolute;
  opacity: 0.1;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#backer::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(0, 0, 0) 90%
  );
}
