/* imports and variables */
@font-face {
  src: url("./assets/VCR_OSD_MONO_1.001.ttf");
  font-family: VCR;
}
/* * {
  background-color: transparent;
} */
/* main body styling */
body {
  background-color: black;
  padding-bottom: 50px;
  text-align: center;
  color: lightgray;
  font-family: VCR;
  max-width: 70vw;
  margin: auto;
}
a {
  text-decoration: none;
  color: lightgray;
}
textarea {
  resize: none;
}
li {
  list-style-type: none;
}
tr{
  border-bottom: 1px solid white;
}
/* individual page styling */
.userpage{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
/* individual component styling */
.modalbacker{
  background-color: rgba(1,1,1,0.9);
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  bottom:0;
  right:0;
  left:0;
  top:0;
}
.modal{
  background-color: #9892b3;
  border-radius: 20px;
  color: black;
  width: 500px;
}
.modalinvisible{
  display: none;
}
.loginbutton {
  background-color: black;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  padding: 5px;
}
.dreamsortselector {
  justify-content: space-evenly;
  border: 1px solid white;
  display: flex;
}
.dreamsortselector * {
  padding: 5px;
  margin: 0;
}
#dreamsubmitform {
  flex-direction: column;
  display: flex;
  margin: auto;
  width: 80%;
}
#moodselector {
  flex-direction: column;
  align-items: center;
  display: flex;
}
#moodselectorlist {
  flex-direction: row;
  display: flex;
}
.moodchoice {
  transition: 0.5s ease-in-out;
  padding: 0px 5px;
  font-size: 50px;
  cursor: pointer;
}
.activemood {
  text-shadow: -5px -5px 3px #6a0dad;
}
.moodchoice:hover {
  transform: scale(1.1);
}
.zodiacsign {
  font-size: 1.5rem;
  font-weight: bold;
  color: #9892b3;
}
/*  new dream stylings */
.dreamobject {
  box-shadow: 0.5px 0.5px 3px white;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 650px;
  margin: 1em auto;
}
.dreamobject * {
  /* for troubleshooting css lol */
  /* border: 1px solid blue; */
}
.dreamheader {
  background-color: rgba(1,1,1,0.7);
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  align-items: center;
  display: flex;
  height: 3rem;
} 
.dreamtitle {
  margin: auto;
}
.dreamemotiondata{
  display: flex;
}
.dreammood {
  font-size: 4rem;
}
.dreamsubheader{ 
  background-color: rgba(1,1,1,0.7);
  box-shadow: 0.5px 0.5px 3px white;
  justify-content: space-around;
  padding: 0.1rem 1rem;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  display: flex;
}
.dreambody {
  font-size: 0.75rem;
  padding: 0.5rem;
}
.dreamfooter {
  background-color: rgba(1,1,1,0.7);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  padding: 0 1rem;
  display: flex;
}
#accountform {
  flex-direction: column;
  display: flex;
}
.usernamevalid {
  background-color: #9892b3;
}
.usernameinvalid {
  background-color: #d17282;
}
/* header */
#headernav {
  transition: 0.5s ease-in-out;
}
#headernav::after {
  position: absolute;
  color: #9892b3;
  content: "alpha";
  font-size: 15px;
  padding: 5px;
}
#headernav:hover {
  transform: scale(1.05);
}
.datatable{
  border: 1px solid white;
  align-self: start;
  margin: auto;
  float: left;
}
/* FOOTER */
#navfooter {
  justify-content: space-between;
  padding-bottom: 20px;
  position: fixed;
  display: flex;
  margin: auto;
  width: 50vw;
  bottom: 0;
  right: 0;
  left: 0;
}
.footerlink {
  border: 1px solid lightgrey;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  padding: 2px;
}
.footerlink:hover {
  box-shadow: 0px 0px 20px 1px #6a0dad;
  border: 1px solid lightgrey;
  transform: scaleY(1.25);
}
.activelink {
  /* filter: drop-shadow(1px 1px #4444dd); */
  text-shadow: 3px 3px #6a0dad;
  background-color: #6a0dad;
}
.activelogo {
  text-shadow: 3px 3px #6a0dad;
  transition: 0.5s ease-in-out;
}
/* space background filter */
#spaceBacker {
  /* transform: rotate(90deg); */
  pointer-events: none;
  min-height: 100vh;
  overflow: hidden;
  min-width: 100vw;
  position: fixed;
  z-index: -100;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#staticFronter {
  /* background-image: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,0)); */
  pointer-events: none;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  opacity: 0.12;
  z-index: 100;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/* MOBILE STYLING */
@media screen and (max-width: 600px) {
  /* main body */
  body {
    max-width: 100vw;
  }
  .dreamheader {
    width: 100%;
  }
  #dreamsubmitform {
    max-width: 100vw;
  }
  #navfooter {
   max-width: 100vw;
  }  
  #moodselectorlist {
    max-width: 96vw;
    padding: 0;
    /* margin: auto; */
  }
  .datatable{
    transform: scale(0.5) translateX(-25%);
    max-width: 100vw;
  }
  /* individual page styling */
  /* individual component styling */
}
/* REEEEALLY BIG SCREENS */
@media screen and (min-width: 1500px) {
  #dreamsubmitform {
    max-width: 900px;
  }
  .dreamsortselector {
    max-width: 900px;
    margin: auto;
  }
  #navfooter {
    max-width: 900px;
  }
  /* main body */
  /* individual page styling */
  /* individual component styling */
}
