/* imports and variables */
@font-face {
  src: url("./assets/VCR_OSD_MONO_1.001.ttf");
  font-family: VCR;
}
/* * {
  background-color: transparent;
} */
/* main body styling */
body {
  text-align: center;
  color: lightgray;
  font-family: VCR;
}
a {
  text-decoration: none;
  color: lightgray;
}
/* individual page styling */

/* individual component styling */
/* FOOTER */
#navfooter {
  justify-content: space-between;
  padding-bottom: 10px;
  position: absolute;
  display: flex;
  margin: auto;
  width: 50vw;
  bottom: 0;
  right: 0;
  left: 0;
}
.footerlink {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: auto;
  padding: 2px;
  cursor: pointer;
}

/* space background filter */
/* new */
#spaceBacker {
  overflow: hidden;
  min-height: 100%;
  position: fixed;
  min-width: 100%;
  z-index: -100;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#staticFronter {
  pointer-events: none;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 0.2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
